@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#../fonts/Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts_rs/RobotoSlab-Bold.eot');
    src: url('../fonts_rs/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts_rs/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts_rs/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts_rs/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    font-family:'Roboto', sans-serif;
}
input,
select,
textarea{
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    max-width: 990px;
}
h1{
    color: #1f222c;
    font: 700 30px "Roboto Slab";
    text-align: center;
}
h2{
    color: #b3b3b3;
    letter-spacing: 0px;
    font-family: 700 20px "Roboto";
    text-transform: uppercase;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.simple-form{
    width: 330px;
}
.textinput{
    padding: 15px 15px 12px;
    color: #b3b3b3;
    font: 400 14px "Roboto";
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.selectinput{
    padding: 15px 15px 12px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    appearance: none;
}
.optioninput{
    display: block;
    padding: 10px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.optioninput:disabled{
    color: #b3b3b3;
}
.simple-select{
    position: relative;
    display: inline-block;
    width: 100%;
}
.simple-select:after{
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 5px;
    right: 15px;
    top: 19px;
    background-image: url(../img/select.png);
}
.simple-textarea{
    padding: 15px 15px 12px;
    color: #b3b3b3;
    font: 400 14px "Roboto";
    width: 100%;
    max-width: 330px;
    height: 130px;
    max-height: 130px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.simple-button{
    padding: 15px 15px 12px;
    width: 100%;
    color: #fff;
    font-family: 700 14px "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    cursor: pointer;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus{
    color: #1f222c;
    font: 400 14px "Roboto";
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: 1px solid #3e6aff;;
    outline: none;
}
.optioninput:focus{
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #3e6aff;
    border: 1px solid #3e6aff;
    outline: none;
}
input[type="submit"]:focus {
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    outline: none;
}

.radio-buttons,
.check-buttons,
.date{
    float: left;
    vertical-align: top;
}
.radio-buttons p:first-child,
.check-buttons p:first-child{
    margin-top: 0;
}
.radio-buttons{
    max-width: 165px;
    width: 100%;
}
.check-buttons{
    max-width: 345px;
    width: 100%;
}
.date{
    max-width: 473px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.status{
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;
}
.delivery,
.delivery2,
.delivery3,
.check-man,
.check-woman,
.check-butn{
    position: absolute;
    visibility: hidden;
}
.delivery+label,
.delivery2+label{
    position: relative;
    padding-left: 25px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.delivery:disabled+label,
.delivery2:disabled+label{
    color: #b3b3b3;
}
.delivery+label:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    left: 0;
    top: 2px;
}
.delivery:checked+label:before,
.delivery2:checked+label:before,
.delivery3:checked+label:before{
    border: 1px solid #3e6aff;
}
.delivery:checked+label:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
}
.delivery2+label:before,
.delivery3+label:before{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: -2px;
    border-radius: 3px;
    border: 1px solid #ccc;;
}
.delivery2:checked+label:before{
    border: 1px solid #3e6aff;
}
.delivery2:checked+label:after,
.delivery3:checked+label:after{
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    left: 5px;
    top: 5px;
    transform: rotate(-45deg);
    border-left: 2px solid #244dd7;;
    border-bottom: 2px solid #244dd7;
    border-radius: 5px;
}
.status td:first-child{
    padding: 20px 20px 12px;
    text-align: left;
    color: #b3b3b3;
    font: 700 14px "Roboto";
    width: 20.5%;
}

.data,
.data:focus{
    padding: 10px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
::-webkit-calendar-picker-indicator {
    background-image: url(../img/calendar.png);
}
.date .delivery2+label{
    margin-right: 20px;
}

.status tr{
    vertical-align: text-bottom;
}
.status tr:last-child th,
.status tr:last-child td{
    padding-bottom: 20px;
}


.check-man+label,
.check-woman+label{
    position: relative;
    padding-left: 82px;
}
.other+label{
    position: relative;
    padding-left: 62px;
}
.check-man+label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background: url(../img/style-check.png) no-repeat;
    background-position: 0 0;
}
.check-woman+label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background: url(../img/style-check.png) no-repeat;
    background-position: -96px 0;
}
.check-man:checked+label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background: url(../img/style-check.png) no-repeat;
    background-position: 0 -96px;
}
.check-woman:checked+label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background: url(../img/style-check.png) no-repeat;
    background-position: -97px -96px;
}
.style-checks p{
    margin: 55px 0;
}

